@model PagedList.IPagedList<SIG_Luziania_Web.ViewModels.SaudeViewModel>
@using PagedList.Mvc;

@{
    ViewBag.Title = "Localidades de Saúde";
    Layout = "~/Views/Shared/_LayoutMenu.cshtml";
}

<h2>Localidades de Saúde</h2>

@using (Html.BeginForm("Localidades", "Saude", FormMethod.Get))
{
    <p>
        <div class="input-group">
            <span class="input-group">
                @Html.TextBox("filtro", ViewBag.Filtro as string, new { @class = "form-control", placeholder = "Pesquisar..." })
                <span class="input-group-btn">
                    <button class="btn btn-primary" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                    <button class="btn btn-primary index" type="button"><i class="glyphicon glyphicon-refresh"></i></button>
                </span>
            </span>
        </div>
    </p>
}

<div class="table-responsive">
    <table class="table">
        <tr>
            <th>
                Tipo de Saúde
            </th>
            <th>
                Nome
            </th>
            <th>
                Endereço
            </th>
            <th>
                Bairro
            </th>
            <th>
                Cep
            </th>
            <th>
                Telefone
            </th>
            <th>
                Latitude
            </th>
            <th>
                Longitude
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.TipoSaude.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Endereco)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Bairro)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cep)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Telefone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Latitude)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Longitude)
                </td>
            </tr>
        }

    </table>
</div>

Página @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) de @Model.PageCount
@Html.PagedListPager(Model, pagina => Url.Action("Localidades", new { pagina, filtroAtual = ViewBag.Filtro }))

@section Scripts{
    <script>
        setModal("localidades");
    </script>
}